* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #172031;
  color: #fff;
  text-align: center;
}

.map {
  gap: 20px;
}
