* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #172031;
  color: #fff;
}

.container {
  max-width: 500px;
  padding: 60px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #03e9f4;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin-top: 20px;
  transition: 0.5s;
  overflow: hidden;
}
button:hover {
  background-color: #03e9f4;
  border-radius: 5px;
  color: #172031;
}

button span {
  position: absolute;
  display: block;
}
